body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.max-w-prose {
  max-width: 80% !important; /* 删除最大宽度限制 */
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.my-custom-width {
  width: 100%;
  max-width: 12000px; /* 设置最大宽度 */
  margin: 0 auto; /* 居中对齐 */
  padding: 20px; /* 内边距 */
  background-color: #f9f9f9; /* 可选的背景色 */
}

.resume-biography {
  #profile {
    text-align: center;
    padding: 30px 10px;
    position: relative;
  }

  /* Custom avatar size on homepage */

  .avatar {
    width: 2150px; !important
    height: 2150px; !important
    max-width: 2150px; !important
    max-height: 2150px; !important
    object-fit: cover;
  }
}